[submodule "clib-support/release-v1.3.0"]
	path = clib-support/release-v1.3.0
	url = https://github.com/cypresssemiconductorco/clib-support
[submodule "recipe-make-cat4/release-v1.0.0"]
	path = recipe-make-cat4/release-v1.0.0
	url = https://github.com/Infineon/recipe-make-cat4
[submodule "wifi-host-driver/release-v2.5.0"]
	path = wifi-host-driver/release-v2.5.0
	url = https://github.com/cypresssemiconductorco/wifi-host-driver
[submodule "mtb-hal-cat4/release-v0.5.0"]
	path = mtb-hal-cat4/release-v0.5.0
	url = https://github.com/Infineon/mtb-hal-cat4
