[submodule "clib-support/release-v1.3.0"]
	path = clib-support/release-v1.3.0
	url = https://github.com/cypresssemiconductorco/clib-support
[submodule "recipe-make-cat4/release-v1.0.0"]
	path = recipe-make-cat4/release-v1.0.0
	url = https://github.com/Infineon/recipe-make-cat4
[submodule "wifi-host-driver/release-v2.5.0"]
	path = wifi-host-driver/release-v2.5.0
	url = https://github.com/cypresssemiconductorco/wifi-host-driver
[submodule "mtb-hal-cat4/release-v0.5.0"]
	path = mtb-hal-cat4/release-v0.5.0
	url = https://github.com/Infineon/mtb-hal-cat4
[submodule "mbedtls/mbedtls-2.25.0"]
	path = mbedtls/mbedtls-2.25.0
	url = https://github.com/ARMmbed/mbedtls
[submodule "secure-sockets/release-v2.5.0"]
	path = secure-sockets/release-v2.5.0
	url = https://github.com/cypresssemiconductorco/secure-sockets
[submodule "core-lib/release-v1.3.1"]
	path = core-lib/release-v1.3.1
	url = https://github.com/cypresssemiconductorco/core-lib
[submodule "lwip/STABLE-2_1_2_RELEASE"]
	path = lwip/STABLE-2_1_2_RELEASE
	url = https://git.savannah.nongnu.org/git/lwip
[submodule "btstack/release-v3.5.0"]
	path = btstack/release-v3.5.0
	url = https://github.com/cypresssemiconductorco/btstack
[submodule "whd-bsp-integration/release-v2.1.0"]
	path = whd-bsp-integration/release-v2.1.0
	url = https://github.com/cypresssemiconductorco/whd-bsp-integration
[submodule "connectivity-utilities/release-v3.2.1"]
	path = connectivity-utilities/release-v3.2.1
	url = https://github.com/cypresssemiconductorco/connectivity-utilities
[submodule "freertos/release-v10.4.304"]
	path = freertos/release-v10.4.304
	url = https://github.com/cypresssemiconductorco/freertos
[submodule "cy-mbedtls-acceleration/release-v1.4.1"]
	path = cy-mbedtls-acceleration/release-v1.4.1
	url = https://github.com/Infineon/cy-mbedtls-acceleration
[submodule "abstraction-rtos/release-v1.6.0"]
	path = abstraction-rtos/release-v1.6.0
	url = https://github.com/cypresssemiconductorco/abstraction-rtos
[submodule "wpa3-external-supplicant/release-v1.1.0"]
	path = wpa3-external-supplicant/release-v1.1.0
	url = https://github.com/Infineon/wpa3-external-supplicant
[submodule "wifi-mw-core/release-v3.4.0"]
	path = wifi-mw-core/release-v3.4.0
	url = https://github.com/cypresssemiconductorco/wifi-mw-core
[submodule "core-make/release-v1.9.1"]
	path = core-make/release-v1.9.1
	url = https://github.com/cypresssemiconductorco/core-make
[submodule "retarget-io/release-v1.3.0"]
	path = retarget-io/release-v1.3.0
	url = https://github.com/cypresssemiconductorco/retarget-io
[submodule "bluetooth-freertos/release-v3.4.0"]
	path = bluetooth-freertos/release-v3.4.0
	url = https://github.com/cypresssemiconductorco/bluetooth-freertos
[submodule "command-console/release-v3.2.0"]
	path = command-console/release-v3.2.0
	url = https://github.com/cypresssemiconductorco/command-console
